@model TbCustomer
<div class="content-wrapper">
    <div class="page-header">
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" method="post" enctype="multipart/form-data"
                          id="MyForm" asp-controller="Customer" asp-action="Edit" role="form">

                        <input type="hidden" asp-for="CustomerId" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CurrentState" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="UpdatedBy" />
                        <input type="hidden" asp-for="UpdatedDate" />

                        <div class="form-group col-md-12" style="float:left;">
                            <label for="exampleInputUsername1">Name</label>
                            <input asp-for="CustomerName" type="text" class="form-control" placeholder="CustomerName">
                            <span style="color:crimson" asp-validation-for="CustomerName"></span>
                        </div>

                        <div class="form-group col-md-12" style="float:left;">
                            <label for="exampleInputUsername1">Phone</label>
                            <input asp-for="Phone" type="number" class="form-control" placeholder="Phone">
                            <span style="color:crimson" asp-validation-for="Phone"></span>
                        </div>


                        <div class="form-group col-md-12" style="float:left;">
                            <label for="exampleInputUsername1">Email</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                            <span style="color:crimson" asp-validation-for="Email"></span>
                        </div>
                        <button  type="submit" formmethod="post" class="btn btn-gradient-primary me-2 col-md-2 ">Save</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @if (!string.IsNullOrEmpty(ViewBag.Failed))
    {
        <script>
            // Display a SweetAlert popup
            Swal.fire({
                icon: 'error',
                title: '@ViewBag.Failed',
                showConfirmButton: true // Show a confirm button
            }).then((result) => {
            @{
                ViewBag.Failed = ""; // Assigning ViewBag.Success in Razor code
            }
                                    });
        </script>
    }

}
