
    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>contact</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                            <li class="breadcrumb-item active">contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->
    <!--section start-->
    <section class="contact-page section-b-space">
        <div class="container">
            <div class="row section-b-space">
                <div class="col-lg-7 map">
                <img src="~/Uploads/Contact/photo_2023-08-28_17-57-37 (2).jpg" />
                </div>
                <div class="col-lg-5">
                    <div class="contact-right">
                        <ul>
                            <li>
                                <div class="contact-icon">
                                    <img src="~/Website/assets/images/icon/phone.png"
                                         alt="Generic placeholder image">
                                    <h6>Contact me</h6>
                                </div>
                                <div class="media-body">
                                    <p>01008227103</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <h6>Address</h6>
                                </div>
                                <div class="media-body">
                                <p>Cairo, El Qanatir El Khayriyyah City</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <img src="~/Website/assets/images/icon/email.png"
                                         alt="Generic placeholder image">
                                    <h6>Email</h6>
                                </div>
                                <div class="media-body">
                                <p>mohamedahmedfarhansalama@gmail.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
   