<!-- footer section start -->
<footer class="sticky-footer blur-up lazyload">
  <div class="sub-footer dark-subfooter">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12">
          <div class="footer-end">
            <p style="text-align: center">
              <i class="fa fa-copyright" aria-hidden="true"></i> 2024-25
              Designed by Mohamed Ahmed
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer section end -->
